<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
	</head>
	
<style>

</style>
<body>
<br><br><br><br>
<div class="w3-display-middle">
<div id="myDIV3" class="w3-center">
  <form class="w3-container w3-center w3-card-4" style="width:100%">
  <h2>How do you want to reset your password?</h2>
  <p>
  <input class="w3-radio" type="radio" name="choice" checked>
  <label>Use my secret questions</label></p>
  <p>
  <input class="w3-radio" type="radio" name="choice">
  <label>Forgot answers to secret questions</label></p>
  
  <br><br>
  </form>
  <br>
  <div class="w3-center">
  <button class="w3-btn w3-blue-grey">Cancel</button>
  <button  class="w3-btn w3-blue-grey" onclick="myFunction()">Submit</button>
</div>

</div>  
  <br><br><br>


<div id="myDIV1" class="w3-center" style="display:none">
  <form class="w3-container w3-center w3-card-4" style="width:100%">
  <h2>Please answer your security questions</h2>
  <p>
  <label class="w3-text"><b>Answer for Security Question 1</b></label>
  <input class="w3-center w3-input w3-border w3-light-grey" type="text" ><br>
  </p>
  
  <p>
  <label class="w3-text"><b>Answer for Security Question 2</b></label>
  <input class="w3-center w3-input w3-border w3-light-grey" type="text"><br>
  </p>
  
  
  <br><br>
  </form>
  <br>
  <div>
  <button class="w3-btn w3-blue-grey">Cancel</button>
  <button  class="w3-btn w3-blue-grey" onclick="myFunction1()">Submit</button>
  </div>
   <br><br><br>
</div>


<div id="myDIV2" class="w3-center" style="display:none">
  <form class="w3-container w3-center w3-card-4" style="width:100%">
  <h2>Reset Password</h2>
  <br>
  <p>
  <input class="w3-center w3-input w3-border w3-light-grey" type="text" placeholder="Unique ID" style="width:500px"><br>
  </p>
  
  <p>
  <input class="w3-center w3-input w3-border w3-light-grey" type="text" placeholder="User Name"><br>
  </p>
  
   
  <p>
  <input class="w3-center w3-input w3-border w3-light-grey" type="text" placeholder="Password"><br>
  </p>
  
   
  <p>
  <input class="w3-center w3-input w3-border w3-light-grey" type="text" placeholder="Confirm Password"><br>
  </p>
  
  <br>
  </form>
  <br>
   <div>
  <button class="w3-btn w3-blue-grey">Save and Reset</button>
  </div>

 
   <br><br><br>
</div>

</div>


<script>
function myFunction() {
  var x = document.getElementById("myDIV1");
  var y = document.getElementById("myDIV3");
  if (x.style.display === "none") {
    x.style.display = "block";
	y.style.display = "none";
  } else {
    x.style.display = "none";
  }
}

function myFunction1() {
  var x = document.getElementById("myDIV2");
  var y = document.getElementById("myDIV1");
  if (x.style.display === "none") {
    x.style.display = "block";
	y.style.display = "none";
  } else {
    x.style.display = "none";
  }
}

</script>

</body>
</html>

