<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
	</head>
	
<style>

</style>
<body>

{% with messages = get_flashed_messages() %}
  {% if messages %}

    <div class="alert alert-warning">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close"> -->
    <!-- <span aria-hidden="true">&times;</span>
  </button> -->
</div>
  {% endif %}
{% endwith %}
	
	
<br><br><br><br>
<div class="w3-display-middle">
<div id="myDIV3" class="w3-center">
  <form name="form" class="w3-container w3-center w3-card-4" style="width:100%">
  <h2>How do you want to reset your password?</h2>
  <p>
  <br><br>
  <input class="w3-radio" type="radio" name="choice" onclick="myFunction2(this.value)" value="email" checked>
  <label>Via Email</label></p>
  <p>
  <input class="w3-radio" type="radio" name="choice" onclick="myFunction2(this.value)" value="mobile">
  <label>Via Contact Number</label></p>
  
  <br><br>
  </form>
  <br>
  <div class="w3-center">
  <button class="w3-btn w3-blue-grey">Cancel</button>
  <button  class="w3-btn w3-blue-grey" onclick="myFunction()">Submit</button>
  
  <input value="email" id="result" style="display:none">
</div>

</div>  
  <br><br><br>


<div id="myDIV1" class="w3-center" style="display:none">
  <form class="w3-container w3-center w3-card-4" style="width:100%">
  <h2>     Please enter your Email ID      </h2>
  <br><br>
  <input class="w3-center w3-input w3-border w3-light-grey" type="text" placeholder="email address" style="width:500px" required><br>
  
  
  <br><br>
  </form>
  <br>
  <div>
  <button class="w3-btn w3-blue-grey" onclick="myFunction3()">Cancel</button>
  <button  class="w3-btn w3-blue-grey" onclick="myFunction4()">Submit</button>
  </div>
   <br><br><br>
</div>

</div>


<script>
function myFunction() {
  var x = document.getElementById("myDIV1");
  var y = document.getElementById("myDIV3");
  var v = document.getElementById("result").value;
  if (x.style.display === "none") 
  {
    if(v =='email')
	{
    x.style.display = "block";
	y.style.display = "none";
	}
	else if(v =='mobile')
	{
	 alert("This option is currently unavailable");
	}
  } 
  else 
  {
    x.style.display = "none";
  }
}

function myFunction2(choice) {
  document.getElementById("result").value = choice;
}


function myFunction3() {
  var x = document.getElementById("myDIV3");
  var y = document.getElementById("myDIV1");
  if (x.style.display === "none") 
  {
    x.style.display = "block";
	y.style.display = "none";
  }
  else 
  {
    x.style.display = "none";
  }
}
	
 function myFunction4() 
 {
 alert("Email has been sent");
 }
 
</script>

</body>
</html>

