<!DOCTYPE html>
<html lang="en">
<head>
	<title>PATIENT PORTAL- REGISTER NOW</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{ url_for('static',filename='images/icons/favicon.ico')}}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='fonts/Linearicons-Free-v1.0.0/icon-font.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/animate/animate.css')}}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/css-hamburgers/hamburgers.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/animsition/css/animsition.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/select2/select2.min.css')}}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendor/daterangepicker/daterangepicker.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" href="{{ url_for('static',filename='js/jquery.datetimepicker.min.css')}}">
	<script href="{{ url_for('static',filename='js/jquery.js')}}"></script>
	<script href="{{ url_for('static',filename='js/jquery.datetimepicker.full.js')}}"></script>
	
<!--===============================================================================================-->




</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}

    <div class="alert alert-warning">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close"> -->
    <!-- <span aria-hidden="true">&times;</span>
  </button> -->
</div>
  {% endif %}
{% endwith %}
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">


				<!--  THE FORM BEGINS HERE-->
				<form class="login100-form validate-form" method="post" action="/psignup">

					<span class="login100-form-title p-b-33">
						Sign Up
					</span>					


					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="name" placeholder="Your name as on Aadhar">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>

					<div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>

					<div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="cpass" placeholder="Confirm Password">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>



					<div class="wrap-input100 validate-input p-3" id="smth">
                    <label for="securityQuestion">Security Question 1?</label>
                    <select name="secQ1" id="dropdown" placeholder="sdhhjh">
                    	<option value="">Security Questions </option>
                        <option value="0">Where was your mother born?</option>
                        <option value="1">What was your first car?</option>
                        <option value="2">What was the first name of your first pet?</option>
                        <option value="3">What was your school name?</option>
                        <option value="4">Where were you born?</option>
                        <option value="5">What model your first smartphone was?</option>
                    </select> 
                	</div>


					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="answer_1" placeholder="Answer">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>



					<div class="wrap-input100 validate-input p-3" id="smth">
                    <label for="securityQuestion">Security Question 2?</label>
                    <select name="secQ2" id="dropdown" placeholder="sdhhjh">
                    	<option value="">Security Questions </option>
                        <option value="1">Where was your mother born?</option>
                        <option value="2">What was your first car?</option>
                        <option value="3">What was the first name of your first pet?</option>
                        <option value="4">What was your school name?</option>
                        <option value="5">Where were you born?</option>
                        <option value="6">What model your first smartphone was?</option>
                    </select> 
                	</div>
					
					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="answer_2" placeholder="Answer">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>
					<br>
					<br>


				<!-- FORM ENDS HERE -->

				<!--  THE FORM2 BEGINS HERE-->


					<span class="login100-form-title p-b-33">
						Personal Information
					</span>					

					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="adhar_num" placeholder="Adhar Card Number" required>
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>


					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="Fname" placeholder="Father Name">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="Mname" placeholder="Mother Name">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>


					<div class="wrap-input100 validate-input p-3" id="smth">
                    <label for="Gender">Gender</label>
                    <select name="secQuest" id="dropdown" placeholder="sdhhjh" required>
                    	<option value="">Gender </option>
                        <option value="0">Male</option>
                        <option value="1">Female</option>
                        <option value="2">Other</option>
                    </select> 
                	</div>

                	<div class="wrap-input100 validate-input">
  						<input class="input100" type="datepicker" id="datepicker" name="DOB" placeholder="DOB" required>
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>


					<div class="wrap-input100 validate-input">
						<input class="input100" type="email" name="Email" placeholder="Email">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>


					<div class="wrap-input100 validate-input">
						<input class="input100" type="phone" name="ph_num" placeholder="Phone Number" required>
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>


					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="caddress" placeholder="Current Address" required >
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>
					<br>

					<div class="container-login100-form-btn m-t-20">
						<button class="login100-form-btn">
							Submit
						</button>
					</div>

				</form>
				<!-- FORM2 ENDS HERE -->



			</div>
		</div>
	</div>
	

	
<!--===============================================================================================-->
	<script href="{{ url_for('static',filename='vendor/jquery/jquery-3.2.1.min.js')}}" src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script href="{{ url_for('static',filename='vendor/animsition/js/animsition.min.js')}}" src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script href="{{ url_for('static',filename='vendor/bootstrap/js/popper.js')}}" src="vendor/bootstrap/js/popper.js"></script>
	<script href="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js')}}" src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script href="{{ url_for('static',filename='vendor/select2/select2.min.js')}}" src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script href="{{ url_for('static',filename='vendor/daterangepicker/moment.min.js')}}" src="vendor/daterangepicker/moment.min.js"></script>
	<script href="{{ url_for('static',filename='vendor/daterangepicker/daterangepicker.js')}}" src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script href="{{ url_for('static',filename='vendor/countdowntime/countdowntime.js')}}" src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script href="{{ url_for('static',filename='js/main.js')}}" src="js/main.js"></script>


</body>
</html>