<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Patient Dashboard</title>

  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static',filename='lab/vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static',filename='lab/css/sb-admin-2.min.css')}}" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="{{ url_for('static',filename='lab/vendor/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet">

</head>

<body id="page-top">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
 
    <div class="alert alert-warning">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close"> -->
    <!-- <span aria-hidden="true">&times;</span>
  </button> -->
</div>
  {% endif %}
{% endwith %}

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          
        </div>
        <div class="sidebar-brand-text mx-3">Menu</div>
      </a>

 
      <!-- Nav Item - Tables -->
      <li class="nav-item active">
        <a class="nav-link" href="/pdash">
          <i class="fas fa-fw fa-table"></i>
          <span>Home</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">
            <li class="nav-item active">
        <a class="nav-link" href="/pdash2">
          <i class="fas fa-fw fa-table"></i>
          <span>Test</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <hr class="sidebar-divider d-none d-md-block">
            <li class="nav-item active">
        <a class="nav-link" href="/pdash3">
          <i class="fas fa-fw fa-table"></i>
          <span>Book Appointment</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">


      

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <h1 class="text-center">Welcome {{query.adharname}}</h1>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

           

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">           
              </a>
              <!-- Dropdown - Alerts -->
              <div class=" dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">     

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="/plogout" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span><h4 style="color: #00007f">{{query.adharname}}</h4></span>
                <!-- <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60"> -->
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/plogout">
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

         <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Book Appointment</h1><br>
          <h3 class="h3 mb-2 text-gray-800">Available Testing centres nearby to you </h3>
          

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary"></h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    {% if(query.book_stat==0) %}
                    <tr>
                      <th>Lab Name</th>
                      <th>Lab Address</th>
                      <th>Contact</th>
                      <th>Opens</th>
                      <th>Closes</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                      {% for i in query1 %}
                        <tr>
                          <form method="post" action="/pdash3">
                          <input type="hidden" name="lid" value={{i.regno}}>
                          <input type="hidden" name="pid" value={{query.pid}}>
                          <td>{{i.regname}}</td>
                          <td>{{i.address}}</td>
                          <td>{{i.contact}}</td>
                          <td>{{i.worktstart}}</td>
                          <td>{{i.worktend}}</td>
                          <td><button type="submit" name="submit">Book Now</button>
                        </form>
                        </tr>
                      {% endfor %}
                    {% else %}
                    <tr>
                      <th>Lab Name</th>
                      <th>Lab Address</th>
                      <th>Contact</th>
                      <th>Opens</th>
                      <th>Closes</th>
                      <th>Alloted Time</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>{{query2.regname}}</td>
                          <td>{{query2.address}}</td>
                          <td>{{query2.contact}}</td>
                          <td>{{query2.worktstart}}</td>
                          <td>{{query2.worktend}}</td>
                          <td>{{query1.alloted_date}}</td>
                        </tr>

                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <!-- <span>Copyright &copy; Your Website 2019</span> -->
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  

  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static',filename='lab/vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{ url_for('static',filename='lab/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static',filename='lab/vendor/jquery-easing/jquery.easing.min.js')}}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static',filename='lab/vendor/jquery-easing/jquery.easing.min.js')}}js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="{{ url_for('static',filename='lab/vendor/datatables/jquery.dataTables.min.js')}}"></script>
  <script src="{{ url_for('static',filename='lab/vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>

  <!-- Page level custom scripts -->
  <script src="{{ url_for('static',filename='lab/js/demo/datatables-demo.js')}}"></script>

</body>

</html>
